Repository xenyria/knowledgebase, changes with the labels that .github/labeler.yaml gives for each.
All labels: lang:en, lang:de, area:index, meta

feat: testing pages
  wiki/Test_Page/de.md
  wiki/Test_Page/en.md
  wiki/index/en.md
Labels: lang:en, lang:de, area:index

fix: gitignore mixup
  .eslintignore
  .gitignore
Labels: meta

chore: add pnpm-lock
  pnpm-lock.yaml
Labels: meta

ci: update workflows
  .github/workflows/assign-reviewers.yaml
  .github/workflows/lint.yaml
Labels: meta

chore: add license and readme
  .markdownlintignore
  LICENSE.md
  README.md
Labels: meta

chore: add languages file
  wiki/languages.yml
Labels: none

chore: cleanup
  wiki/Test_Page/de.md
  wiki/Test_Page/en.md
  wiki/index/en.md
Labels: lang:en, lang:de, area:index

test
  wiki/index/en.md
Labels: lang:en, area:index

ci: fix labeler path
  .github/workflows/labeler.yaml
Labels: meta

ci: try to fix assign-reviewers
  .github/workflows/assign-reviewers.yaml
  load-reviewers.js
Labels: meta

cI: fix another whoopsie
  load-reviewers.js
Labels: meta

ci: make assign-reviewers use github-script
  .github/workflows/assign-reviewers.yaml
Labels: meta

ci: forgot .rest
  .github/workflows/assign-reviewers.yaml
Labels: meta

ci: add permissions and custom token
  .github/workflows/assign-reviewers.yaml
Labels: meta

ci: change event to pull_request_target
  .github/workflows/assign-reviewers.yaml
Labels: meta

ci: prevent review being requested from PR author
  .github/workflows/assign-reviewers.yaml
  load-reviewers.js
Labels: meta

ci: fix potential future issues on "lint"
  .github/workflows/lint.yaml
Labels: meta

ci: remove lint commenting
  .github/workflows/lint.yaml
Labels: meta

.github/labeler.yaml:

"lang:en":
  - changed-files:
      - any-glob-to-any-file:
          - wiki/**/en.md

"lang:de":
  - changed-files:
      - any-glob-to-any-file:
          - wiki/**/de.md

"area:index":
  - changed-files:
      - any-glob-to-any-file:
          - wiki/index/**.md

"meta":
  - changed-files:
      - any-glob-to-any-file:
          - .github/**
          - "*"
